:root {
  --textColor: #dcdcdc;
  --fontSizeM: clamp(1.5rem, -0.875rem + 8.333vw, 3rem);
  --fontSizeS: clamp(1rem, 2rem, 2.5rem);
  --crunchyRoll: rgb(223,99,0)
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Maven Pro',  'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--textColor);
  background: url('images/background.jpg') no-repeat center/cover;
  min-height: 100vh;
  position: relative;
}

*,*::before,
*::after {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
